html {
  font-size: 16px;
}
body {
}
.wrapper {
  max-width: 100vw;
}
.container {
  max-width: 89rem;
  margin: 0 auto;
}
.button {
  font-family: "Noto Sans";
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  line-height: 160%;
  background: #5c8ee5;
  height: 100%;
}

.button:hover {
  background: #3a71d1;
  transition: background 0.2s;
}
.separator {
  width: 9.375rem;
  height: 2px;
  flex-shrink: 0;
  background: #5c8ee5;
}
.title {
  font-family: "Bebas Neue";
  line-height: 120%;
  font-weight: 400;
}
.title_h2 {
  font-size: 3.75rem;
}
.title_h3 {
  font-family: "Noto Sans";
  font-size: 1.75rem;
  line-height: 160%;
}

.button-link {
  font-family: "Noto Sans";
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  color: #5c8ee5;
}
.button-link::before {
  content: "";
  background-color: #5c8ee5;
  height: 1px;
  width: 2.5rem;
  transition: width 0.2s;
}
.button-link:hover:before {
  width: 3.75rem;
}
