html {
  font-size: 16px;
}

.wrapper {
  /* display: none; */
}
.container {
  max-width: 90rem;
  margin: 0 auto;
}
.button {
  font-family: "Noto Sans";
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  line-height: 160%;
  background: #5c8ee5;
  height: 100%;
}
.separator {
  width: 150px;
  height: 2px;
  flex-shrink: 0;
  background: #5c8ee5;
}
.title {
  font-family: "Bebas Neue";
  line-height: 120%;
  font-weight: 400;
}
.title_h2 {
  font-size: 3.75rem;
}
.title_h3 {
  font-family: "Noto Sans";
  font-size: 1.75rem;
  line-height: 160%;
}
