@import url("./components/header.css");
@import url("./components/features-slider.css");
@import url("./components/header-inside.css");
@import url("./components/navbar.css");
@import url("./components/cta.css");
@import url("./components/procedure.css");
@import url("./components/steps.css");
@import url("./components/mobile-menu.css");
@import url("./components/production.css");
@import url("./components/mark.css");
@import url("./components/clients.css");
@import url("./components/blog.css");
@import url("./components/category-inside.css");
@import url("./components/founder.css");
@import url("./components/contracts-info.css");
@import url("./components/info-block.css");
@import url("./components/avtohim-types.css");
@import url("./components/catalog-download.css");
@import url("./components/blog-all.css");
@import url("./components/blog-page.css");
@import url("./components/footer.css");
@import url("./components/research-center.css");
@import url("./components/modals.css");
* {
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Noto Sans";
  font-size: 1rem;
  font-style: normal;
  padding: 0;
  margin: 0;
}
.logo {
  height: 100%;
}
.logo-light {
  display: flex;
}
.logo-dark {
  display: none;
}
.made-in {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.made-in__text {
  color: #828a99;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.made-in__svg {
  width: 52px;
  height: 11px;
}
@media (max-width: 1750px) {
  html {
    font-size: 14px !important;
  }
  .production__text {
    font-size: 1.2rem;
  }
  .footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 50px 0;
  }
  .footer__logo-link,
  .footer__phone,
  .footer__address,
  .footer__email {
    margin: 0;
  }
}
@media (max-width: 1650px) {
  html {
    font-size: 12px !important;
  }
  .header__features-text {
    font-size: 1.1rem;
  }
  .header__features-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(235, 235, 240, 0.2);
    padding: 10px 30px;
    width: 18rem;
    height: 12.5rem;
  }
}
@media (max-width: 1430px) {
  html {
    font-size: 11px !important;
  }
  .founder {
    flex-direction: column;
  }
  .founder__img {
    width: 100%;
  }
  .founder__content {
    max-width: none;
  }
  .cta__bg {
    position: absolute;
    bottom: 0;
    max-height: 50rem;
    left: 9rem;
  }
}
@media (max-width: 1285px) {
  html {
    font-size: 11px !important;
  }
  .container {
    padding: 0 0.9375rem;
  }
  .procedure {
    padding: 9.375rem 0.9375rem;
  }
  .navbar__list {
    display: none;
  }
  .navbar__logo {
    display: flex;
    justify-content: center;
    flex-grow: 7;
  }
  .logo-light {
    display: flex;
  }
  .logo-dark {
    display: none;
  }
  .navbar_light .logo-light {
    display: none;
  }
  .navbar_light .logo-dark {
    display: flex;
  }
  .navbar__phone {
    margin-left: 3rem;
  }
  .navbar__burger {
    display: flex;
    visibility: visible;
  }
  .cta__bg {
    bottom: 0;
    left: 4rem;
  }
}
@media (max-width: 1200px) {
  .header__slides-buttons {
    display: flex;
  }
  .production__card {
    flex-basis: 50%;
    min-height: 50rem;
  }
  .cta__bg {
    bottom: 0;
    left: -3rem;
  }
}
@media (max-width: 1000px) {
  .steps__item {
    max-width: none;
  }
  .procedure__slides-buttons {
    display: flex;
    visibility: visible;
    gap: 0;
  }
  .clients__category {
    /* max-width: none; */
  }
  .clients__wrapper {
    flex-direction: column;
  }
  .cta__bg {
    display: none;
    visibility: hidden;
  }
  .cta__content {
    max-width: none;
  }
}
@media (max-width: 968px) {
  .header__content-title {
    font-size: 4rem;
  }
  .mark__list {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
  }
  .mark__item {
  }
  .mark__text {
    max-width: none;
  }
  .blog__slide {
    height: 400px;
  }
  .footer__columns-2 {
    columns: 1 22.5rem;
  }
  .footer__phone {
    font-size: 1.75rem;
  }
}
@media (max-width: 768px) {
  .navbar__phone {
    display: none;
  }
  .production__card {
    min-height: 40rem;
  }
  .blog__slide {
    min-width: 21.625rem;
    height: 30rem !important;
  }
  .footer__top {
    align-items: flex-start;
    flex-direction: column;
  }
  .footer__logo-link {
    margin-bottom: 30px;
  }
  .footer__phone {
    margin-bottom: 21px;
  }
  .footer__address {
    margin-bottom: 12px;
  }
  .footer__email {
    margin-bottom: 21px;
  }
}
@media (max-width: 720px) {
  .header__content-title {
    font-size: 4rem;
  }
  .footer__mid {
    justify-content: space-between;
  }
  .footer__menu:last-child {
    margin-left: 0;
  }
  .footer__columns-2 {
    columns: 1 auto;
  }
  .footer__bottom-left {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  .container {
    padding: 0 1.3rem;
  }
  .procedure {
    padding: 9.375rem 0.9375rem;
  }
  .header__content-title {
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 120%;
    max-width: 300px;
  }
  .header__content-subtitle {
    font-size: 14px;
  }
  .header__content-button {
    width: 100%;
    padding: 20px 88px;
  }
  .header__content {
    padding: 50px 0rem 6.25rem 0rem;
  }
  .navbar__logo {
    height: content;
    padding: 15px 48px 23px 48px !important;
  }
  .navbar_light .navbar__logo {
    padding: 5px 48px 5px 48px !important;
  }
  .navbar__logo-svg {
    width: 120px !important;
    height: 37.71px !important;
  }
  .navbar__burger-title {
    display: none;
  }
  .navbar__button {
    padding: 1.8rem 2.3rem;
    height: 100% !important;
  }
  .navbar_light .navbar__button {
    padding: 1.3rem 2.3rem;
  }
  .navbar__button-text {
    display: none;
  }
  .navbar__button-icon {
    display: flex;
    color: white;
  }
  .steps {
    display: flex;
    justify-content: start;
    gap: 0;
    padding: 0;
  }
  .steps__num::after {
    max-width: 230px;
  }
  .procedure__list {
  }
  .steps__item {
    /* max-width: 300px !important;
    width: 300px !important; */
  }
  .steps__text {
    font-size: 14px;
    max-width: 300px;
  }
  .production__card {
    flex-basis: 100%;
    min-height: 40rem;
  }
  .clients__logo-list {
    grid-template-columns: 1fr 1fr;
  }
  .cta__inputs {
    flex-direction: column;
    width: 100%;
  }
  .cta__input-group {
    width: 100%;
  }
  .cta__button-group {
    flex-direction: column;
  }
  .cta__button {
    width: 100%;
  }
  .modal__container {
    margin: 10px;
  }
  .modal__form {
    padding: 2.5rem 2.5rem;
  }
}
@media (max-width: 480px) {
  .mark__item {
    grid-template-areas:
      "svg title title title"
      "text text text text";
  }
  .mark__svg {
    max-width: 100px;
    max-height: 100px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .clients__category-list {
    columns: 1;
  }
  .clients__category-item-text {
    font-size: 14px;
  }
  .blog__slide {
    min-width: 21.625rem;
    height: 196px !important;
    min-height: auto;
  }
  .blog__slide-text {
    display: none;
  }
  .footer__mid {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .footer__bottom {
    flex-direction: column;
  }
  .modal-thanks {
    padding: 0.9375rem;
  }
}
@media (max-width: 376px) {
}
