* {
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  padding: 0;
  margin: 0;
}
.header {
  padding-top: 94px;
  position: relative;
  background: url("../img/header-bg.png");
  background-size: cover;
  min-height: 100vh;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  z-index: 0;
}
.header__content {
  position: relative;
  padding: 150px 0px 100px 0px;
}
.header__content-title {
  margin: 30px 0;
  max-width: 1080px;
  font-size: 80px;
  flex-shrink: 0;
}
.header__content-subtitle {
  max-width: 720px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 50px;
}
.header__content-button {
  padding: 25px 60px;
}
.header__features-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__features-item {
  border: 1px solid rgba(235, 235, 240, 0.2);
  border-bottom: none;
  padding: 30px 50px;
}
.header__features-item:not(:last-child) {
  border-right: none;
}
.header__features-img {
  width: 36px;
  height: 36px;
  margin-bottom: 20px;
}
.header__features-text {
  font-weight: 400;
  line-height: 160%;
}
.logo {
  height: 100%;
}
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  color: #ffffff;
  height: 94px;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  z-index: 2;
  width: 100%;
  transition: all 0.2s;
}
.navbar_light {
  height: 74px;
  color: #292d33;
  background: #fafbfc;
}

.navbar_light .logo__path {
  fill: #292d33;
}

.navbar__logo {
  padding: 24px 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  transition: all 0.2s;
}
.navbar_light .navbar__logo {
  padding: 15px 50px;
}
.navbar__list {
  color: inherit;
  display: flex;
  align-items: center;
  flex-basis: 90%;
  margin: 0px 0px 0px 50px;
  gap: 50px;
}
.navbar__item {
  color: inherit;
}
.navbar__link {
  color: inherit;
}
.navbar__right {
  color: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 50px;
}
.navbar__phone {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
  color: inherit;
}
.navbar__phone-icon {
}
.navbar__phone-text {
  color: inherit;
}
.navbar__button {
  flex-shrink: 0;
  height: 100%;
  padding: 35px 50px;
  transition: all 0.2s;
}
.navbar_light .navbar__button {
  padding: 25px 50px;
}
.procedure {
  padding: 150px 0;
}

.procedure__title {
  color: #292d33;
  margin-top: 50px;
}
.procedure__list {
  margin-top: 50px;
}
.steps {
  display: flex;
  justify-content: space-between;
}
.steps__item {
  max-width: 330px;
}
.steps__num {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  font-family: "Bebas Neue";
  color: #5c8ee5;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 50px;
}

.steps__num::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  margin-left: 30px;
  background-color: #ebebf0;
}
.steps__title {
  color: #292d33;
  margin-bottom: 10px;
}
.steps__text {
  font-size: 16px;
  color: #828a99;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 160%;
}
.steps__link {
  font-family: "Noto Sans";
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  color: #5c8ee5;
}
.steps__link::before {
  content: "";
  background-color: #5c8ee5;
  height: 1px;
  width: 40px;
}
