* {
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Noto Sans";
  font-size: 1rem;
  font-style: normal;
  padding: 0;
  margin: 0;
}
.header {
  padding-top: 5.875rem;
  background: url("../img/header-bg.png");
  background-size: cover;
  min-height: 100vh;
  /* max-width: 100vw; */
}
.header__container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  z-index: 0;
}
.header__separator {
  margin-top: 0.375rem;
}
.header__content {
  position: relative;
  width: 100%;
  padding: 8.9375rem 0rem 6.25rem 0rem;
}
.header__content-title {
  margin: 1.5rem 0 2.5rem 0px;
  max-width: 67.5rem;
  font-size: 5rem;
  flex-shrink: 0;
}
.header__content-subtitle {
  max-width: 720px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 3.125rem;
}
.header__content-button {
  padding: 1.5625rem 4.2rem;
  /* max-height: 62px; */
}
.header__slider {
  width: 100%;
  height: auto;
}
.header__slides-buttons {
  position: relative;
  display: none;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.header__slide-button-prev,
.header__slide-button-next {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  z-index: 2;
}
.header__slide-button-next {
}
.header__features {
}
.header__features-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  z-index: 2;
}
.header__features-item {
  display: flex;
  flex-direction: column;
  height: auto;
  border: 1px solid rgba(235, 235, 240, 0.2);
  padding: 1.6875rem 3.125rem 1.6875rem 3.125rem;
  margin: 0;
  width: 17.9375rem;
}
.header__features-item:not(:last-child) {
  /* border-right: none; */
}
.header__features-img {
  width: 2.25rem;
  height: 2.25rem;
  margin-bottom: 1.1875rem;
}
.header__features-text {
  max-width: 11.75rem;
  font-weight: 400;
  line-height: 160%;
}
.logo {
  height: 100%;
}
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  color: #ffffff;
  height: 5.875rem;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  z-index: 101;
  width: 100vw;
  transition: all 0.2s;
}
.navbar_light {
  position: fixed;
  color: #292d33;
  background: #fafbfc;
  border-bottom: 1px solid rgba(235, 235, 240, 1);
}
.navbar_light .logo__path {
  fill: #292d33;
}
.navbar__logo {
  padding: 1.5rem 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  transition: all 0.2s;
}
.navbar__logo-svg {
  width: 8.75rem;
  height: 2.75rem;
}
.logo-light {
  display: flex;
}
.logo-dark {
  display: none;
}
.navbar_light .logo-light {
  display: none;
}
.navbar_light .logo-dark {
  display: flex;
}
.navbar_light .navbar__logo {
  border-right: 1px solid rgba(235, 235, 240, 1);
  padding: 0.9375rem 3.125rem;
}
.navbar__list {
  color: inherit;
  display: flex;
  align-items: center;
  flex-basis: 90%;
  margin: 0px 0px 0px 3.125rem;
  gap: 3.125rem;
  height: 100%;
}
.navbar__item {
  position: relative;
  color: inherit;
  height: 100%;
}
.navbar__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  border-bottom: 1px solid #5c8ee5;
  transform: scaleX(0);
  transition: transform 0.2s;
}
.navbar__item:hover::after {
  transform: scaleX(1);
}
.navbar__link {
  display: flex;
  align-items: center;
  height: 100%;
  color: inherit;
}
.navbar__right {
  color: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 50px;
}
.navbar__phone {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
  color: inherit;
}
.navbar__phone-icon {
}
.navbar__phone-text {
  color: inherit;
}
.navbar__button {
  flex-shrink: 0;
  height: 100%;
  padding: 2.1875rem 4rem 2.1875rem 3.125rem;
  transition: all 0.2s;
}
.navbar__button-text {
  font-size: 1rem;
  font-family: "Noto Sans";
}
.navbar__button-icon {
  display: none;
}
.isScroll .navbar__button {
  padding: 1.5625rem 4rem 1.5625rem 3rem;
}
.navbar__burger {
  display: none;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  margin: auto;
  padding: 1.375rem 1.75rem;
  height: 100%;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
}

.navbar_light .navbar__burger {
  border-right: 1px solid rgba(235, 235, 240, 1);
}
.navbar__burger-line {
  position: relative;
  display: flex;
  width: 3rem;
  height: 2px;
  background: #fff;
  z-index: 5;
}
.navbar_light .navbar__burger-title {
  color: #292d33;
}
.navbar_light .navbar__burger-line {
  background: #292d33;
}
.navbar__burger-line:nth-child(2) {
  width: 2rem;
}
.isOpen .navbar__burger-line:nth-child(1) {
  transform: rotate(45deg) translateY(6px);
}
.isOpen .navbar__burger-line:nth-child(2) {
  display: none;
}
.isOpen .navbar__burger-line:nth-child(3) {
  transform: rotate(-45deg) translateY(-6px);
}
.navbar__burger-line:not(:last-child) {
  margin-bottom: 7px;
}
.procedure {
  padding-top: 9.375rem;
}
.procedure__title {
  color: #292d33;
  margin-top: 1.625rem;
  margin-bottom: 0.625rem;
}
.procedure__list {
  margin-top: 3.1875rem;
}
.procedure__slider {
  /* width: 100%; */
}
.procedure__slides-buttons {
  display: none;
  visibility: hidden;
}
.procedure__slide-button-prev,
.procedure__slide-button-next {
}
.steps {
  display: flex;
  justify-content: space-between;
}
.steps__item {
  position: relative;
}
.steps__num {
  display: flex;
  align-items: center;
  margin-bottom: 2.1875rem;
  font-family: "Bebas Neue";
  color: #5c8ee5;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.steps__num::after {
  content: "";
  display: inline-block;
  width: 100%;
  max-width: 16.25rem;
  margin-left: 30px;
  height: 1px;
  background-color: #ebebf0;
}
.steps__title {
  color: #292d33;
  margin-bottom: 0.625rem;
  max-width: 300px;
}
.steps__text {
  font-size: 1rem;
  color: #828a99;
  margin-bottom: 1.25rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 300px;
}
.steps__link {
  font-family: "Noto Sans";
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  color: #5c8ee5;
}
.steps__link::before {
  content: "";
  background-color: #5c8ee5;
  height: 1px;
  width: 2.5rem;
  transition: width 0.2s;
}
.steps__link:hover:before {
  width: 3.75rem;
}
.mobile-menu {
  position: fixed;
  display: block;
  visibility: hidden;
  z-index: 100;
  background: #fafbfc;
  height: 100vh;
  width: 100%;
  margin-left: -100vw;
  padding: 30px 15px 15px 15px;
  transition: all 0.2s;
}
.mobile-menu.isOpen {
  visibility: visible;
  overflow-y: scroll;
  margin-left: 0;
  transition: all 0.2s;
}
.mobile-menu__container {
  padding-top: 4.625rem;
}
.mobile-menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.mobile-menu__list::after {
  content: "";
  position: absolute;
  bottom: 0;
  margin-left: -15px;
  width: 100vw;
  height: 1px;
  background: rgba(235, 235, 240, 1);
}
.mobile-menu__item {
}
.mobile-menu__item-link {
  color: #292d33;
  font-size: 14px;
  font-weight: 700;
  line-height: 160%;
}
.mobile-menu__sublist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-left: 20px;
}
.mobile-menu__sublist-item {
}
.mobile-menu__sublist-link {
  font-size: 14px;
  color: #292d33;
  font-weight: 400;
  line-height: 160%;
}
.mobile-menu__contacts {
}
.mobile-menu__phone {
  font-size: 20px;
  font-weight: 600;
  line-height: 160%;
  color: #292d33;
  text-decoration: underline;
}
.mobile-menu__address {
  margin-top: 21px;
}
.mobile-menu__address,
.mobile-menu__email {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 10px;
}
.mobile-menu__address-text {
  color: #292d33;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}
.mobile-menu__email-text {
  color: #292d33;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}
.mobile-menu__socials {
  display: flex;
  margin-top: 21px;
  gap: 15px;
}
.production {
  padding-top: 9.375rem;
}
.production__container {
}
.production__title {
  color: #292d33;
  margin: 1.875rem 0rem 3.125rem 0rem;
}
.production__cards {
  display: flex;
  flex-wrap: wrap;
}
.production__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 33%;
  border: 1px solid #ebebf0;
  min-height: 37.0625rem;
  transition: border 0.2s;
}
.production__card:hover {
  border-color: #5c8ee5;
}
.production__content {
  padding: 2.5rem 3.125rem 5rem 3.125rem;
}
.production__card-title {
  color: #292d33;
  transition: color 0.2s;
  line-height: 110%;
  margin-bottom: 0.625rem;
}
.production__card:hover .production__card-title {
  color: #5c8ee5;
}
.production__text {
  color: #828a99;
  line-height: 120%;
}
.production__image {
  width: 100%;
  /* height: 18.75rem; */
}
.mark {
  padding-top: 9.375rem;
}
.mark__container {
}
.mark__title {
  color: #292d33;
  margin-top: 1.875rem;
  margin-bottom: 3.125rem;
}
.mark__list {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
}
.mark__item {
  display: grid;
  grid-template-areas: "svg title title" "svg text text";
  /* column-gap: 50px; */
  padding: 3.125rem;
  border: 1px solid #ebebf0;
  transition: border 0.2s;
}
.mark__item:hover {
  border-color: #5c8ee5;
}
.mark__svg {
  margin-right: 50px;
  fill: #828a99;
  width: 11.25rem !important;
  height: 11.25rem !important;
  transition: all 0.2s;
  flex-shrink: 0;
  grid-area: svg;
}
.mark__item:hover .mark__svg {
  fill: #5c8ee5;
}
.mark__content {
}
.mark__list-title {
  color: #292d33;
  transition: color 0.2s;
  grid-area: title;
}
.mark__item:hover .mark__list-title {
  color: #5c8ee5;
}
.mark__text {
  font-size: 1rem;
  line-height: 160%;
  max-width: 22.5rem;
  color: #828a99;
  grid-area: text;
}
.founder {
  max-width: 1920px;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  gap: 7.5rem;
  padding-top: 9.375rem;
}
.founder__container {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  padding-right: 15px;
}
.founder__img {
  max-height: 660px;
  object-fit: cover;
  object-position: top;
}
.founder__content {
  max-width: 45rem;
}
.founder__title {
  color: #292d33;
  max-width: 380px;
  margin-top: 30px;
}
.founder__text-block {
}
.founder__text {
  color: #828a99;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 20px;
}
.founder__button-link {
  margin-top: 1.875rem;
}
.clients {
  padding-top: 9.375rem;
}
.clients__container {
}
.clients__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 3.125rem;
  margin-top: 1.875rem;
}
.clients__category {
  max-width: 700px;
}
.clients__title {
  color: #292d33;
}
.clients__category-list {
  margin-top: 2.375rem;
  columns: 2;
}
.clients__category-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.clients__category-item:not(:first-child) {
  margin-top: 1.25rem;
}
.clients__category-item-img {
  width: 30px;
  height: 30px;
}
.clients__category-item-text {
  color: #292d33;
}
.clients__logo-list {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}
.clients__logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  filter: grayscale(1);
  padding: 2.8125rem 5.3125rem;
  border: 1px solid #ebebf0;
  transition: filter 0.2s;
}
.clients__logo-item:hover {
  filter: grayscale(0);
}
.clients__logo-item-img {
  width: 4.375rem;
  height: 4.375rem;
}
.blog {
  padding-top: 9.375rem;
}
.blog__container {
}
.blog__title {
  color: #292d33;
  margin-top: 1.875rem;
}
.blog__slider {
  display: flex;
  flex-direction: column;
}
.blog__wrapper {
}
.blog__slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 44.0625rem;
  min-height: 25rem;
  position: relative;
  padding: 3.125rem;
  margin-top: 3.125rem;
}
.blog__slide-img {
  position: absolute;
  z-index: -2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog__slide::before {
  content: "";
  position: absolute;
  z-index: -1;
  opacity: 60%;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
}
.blog__slide-title {
}
.blog__slide-text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.blog__slide-link {
}
.blog__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 47px;
}
.blog__slides-buttons {
}
.blog__slide-button-prev,
.blog__slide-button-next {
}
.cta {
  position: relative;
  padding-top: 14rem;
}
.cta__wrapper {
  background: #f0f2f5;
}
.cta__container {
  display: flex;
  justify-content: flex-end;
}
.cta__bg {
  position: absolute;
  bottom: 0;
  left: 11.625rem;
}
.cta__content {
  padding: 6.25rem 0px 100px 0.4375rem;
  max-width: 52.5rem;
}
.cta__title {
  color: #292d33;
  margin-bottom: 20px;
}
.cta__description {
  color: #828a99;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 42px;
}
.cta__inputs {
  display: flex;
  align-items: center;
  margin-bottom: 42px;
  gap: 30px;
}
.cta__input-group {
  flex-grow: 1;
  position: relative;
  height: 66px;
}
.cta__input {
  width: 100%;
  height: 100%;
  padding: 1.25rem 1.875rem;
  color: #292d33;
  border: 1px solid #e4e4eb;
  transition: all 0.2s;
  background: transparent;
}
.cta__input:focus {
  border: 1px solid #5c8ee5;
  outline: 0;
}

.cta__input::placeholder {
  transform: scale(1);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 42px;
  transition: all 0.2s;
}
.cta__input:focus.cta__input::placeholder {
  position: absolute;
  transform: scale(0);
}

.cta__label {
  cursor: text;
  transform: scale(0);
  top: -0.7rem;
  left: 1.875rem;
  position: absolute;
  color: #828a99;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding: 0 10px;
  background: #f0f2f5;
  transition: all 0.2s;
}
.cta__input:focus ~ .cta__label {
  transform: scale(1);
}
.cta__input:not(:placeholder-shown) ~ .cta__label {
  transform: scale(1);
}

.cta__button-group {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}
.cta__button {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  padding: 1.25rem 3.125rem;
  flex-shrink: 0;
}
.cta__notify-group {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
}
.cta__notify-img {
  flex-shrink: 0;
}
.cta__notify-text {
  color: #828a99;
  font-family: Noto Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.footer {
}
.footer__container {
}
.footer__top {
  display: flex;
  align-items: center;
  position: relative;
  padding: 50px 0;
}
.footer__top:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 1px;
  left: -16%;
  bottom: 0;
  background: #ebebf0;
}
.footer__logo-link {
  max-width: content;
  margin-right: 10rem;
}
.footer__logo-svg {
  max-width: 12.5rem;
  max-height: 3.9375rem;
}
.footer__phone {
  color: #292d33;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  text-decoration-line: underline;
  margin-right: 5.125rem;
}
.footer__address {
  margin-right: 3rem;
}
.footer__address-text {
  color: #292d33;
}
.footer__email {
  margin-right: 4.6875rem;
}
.footer__address,
.footer__email {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.footer__email-text {
  color: #292d33;
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}
.footer__social-link {
}

.footer__mid {
  position: relative;
  display: flex;
  padding: 3.125rem 0;
}

.footer__mid:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 1px;
  left: -16%;
  bottom: 0;
  background: #ebebf0;
}
.footer__menu:last-child {
  margin-left: 11.6875rem;
}
.footer__columns-2 {
  columns: 2 22.5rem;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.footer-menu__link {
  color: #292d33;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
.footer-menu__item-list {
  padding-left: 15px;
}
.footer-menu__item {
  margin-bottom: 15px;
}
.footer-menu__item-link {
  color: #828a99;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0;
}
.footer__bottom-left {
}
.footer__copyright {
  margin-right: 3.125rem;
}
.footer__policy {
  text-decoration-line: underline;
}
.footer__copyright,
.footer__policy {
  color: #828a99;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.footer__made-in {
}
.made-in {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.made-in__text {
  color: #828a99;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.made-in__svg {
  width: 52px;
  height: 11px;
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  background: rgba(41, 45, 51, 0.5);
  transition: all 0.2s;
}
.modal.isOpen {
  opacity: 1;
  visibility: visible;
}
.modal__container {
  transform: translateY(-10%);
  max-width: 460px;
  background: #fafbfc;
  transition: transform 0.2s;
}
.modal__form {
  padding: 2.5rem 3.125rem;
}

.modal.isOpen .modal__container {
  transform: translateY(0);
}
.modal__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  /* gap: 4.375rem; */
}
.modal__title {
  margin: 0;
  font-size: 3rem;
}
.modal__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border: 1px solid #ebebf0;
}
.modal__close-svg {
}
.modal__description {
  margin-bottom: 1.875rem;
}
.modal__inputs {
  flex-direction: column;
  gap: 1.875rem;
  margin-bottom: 1.875rem;
}
.modal__input-group {
  width: 100%;
}
.modal__input {
}
.modal__label {
  top: -0.7rem;
  background-color: #fafbfc;
}
.modal__button-group {
  display: flex;
  flex-direction: column;
}
.modal__button {
  width: 100%;
  margin-bottom: 1.5rem;
}
.modal__notify-group {
}
.modal__notify-img {
}
.modal__notify-text {
}
.header-inside {
  padding-top: 144px;
  background: var(--bg-inside);
}

.header-inside__container {
  display: flex;
  /* align-items: flex-end; */
  justify-content: space-between;
}
.header-inside__content {
  padding-bottom: 50px;
}
.header-inside__image {
  display: none;
  max-width: 480px;
  max-height: 240px;
}
.header-inside_bg {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("/img/header-inside-bg.png");
}
.header-inside_bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  z-index: 0;
}
.header-inside_img .header-inside__image {
  display: block;
}
.header-inside__title {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
  color: var(--dark);
  z-index: 2;
}
.header-inside_bg .header-inside__title {
  color: var(--white);
}
.header-inside__breadcrumb {
}
.breadcrumb {
}
.breadcrumb__list {
  display: flex;
  align-items: center;
}
.breadcrumb__item {
  display: flex;
  align-items: center;
}
.breadcrumb__link {
  position: relative;
  color: var(--dark);
  z-index: 2;
}
.header-inside_bg .breadcrumb__link {
  color: var(--white);
}
.breadcrumb_item-prev {
  position: relative;
}
.breadcrumb_item-prev::after {
  content: "";
  display: block;
  margin: 0 0.625rem;
  width: 0.875rem;
  height: 1px;
  background: var(--gray);
}
.header-inside_bg .breadcrumb_item-prev::after {
  background: var(--white);
}
.breadcrumb_prev {
  color: var(--gray);
}
@media (max-width: 1750px) {
  html {
    font-size: 14px !important;
  }
  .production__text {
    font-size: 1.2rem;
  }
  .footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 50px 0;
  }
  .footer__logo-link,
  .footer__phone,
  .footer__address,
  .footer__email {
    margin: 0;
  }
}
@media (max-width: 1650px) {
  html {
    font-size: 12px !important;
  }
  .header__features-text {
    font-size: 1.1rem;
  }
  .header__features-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(235, 235, 240, 0.2);
    padding: 10px 30px;
    width: 18rem;
    height: 12.5rem;
  }
}
@media (max-width: 1430px) {
  html {
    font-size: 11px !important;
  }
  .founder {
    flex-direction: column;
  }
  .founder__img {
    width: 100%;
  }
  .founder__content {
    max-width: none;
  }
  .cta__bg {
    position: absolute;
    bottom: 0;
    max-height: 50rem;
    left: 9rem;
  }
}
@media (max-width: 1285px) {
  html {
    font-size: 11px !important;
  }
  .container {
    padding: 0 0.9375rem;
  }
  .procedure {
    padding: 9.375rem 0.9375rem;
  }
  .navbar__list {
    display: none;
  }
  .navbar__logo {
    display: flex;
    justify-content: center;
    flex-grow: 7;
  }
  .logo-light {
    display: flex;
  }
  .logo-dark {
    display: none;
  }
  .navbar_light .logo-light {
    display: none;
  }
  .navbar_light .logo-dark {
    display: flex;
  }
  .navbar__phone {
    margin-left: 3rem;
  }
  .navbar__burger {
    display: flex;
    visibility: visible;
  }
  .cta__bg {
    bottom: 0;
    left: 4rem;
  }
}
@media (max-width: 1200px) {
  .header__slides-buttons {
    display: flex;
  }
  .production__card {
    flex-basis: 50%;
    min-height: 50rem;
  }
  .cta__bg {
    bottom: 0;
    left: -3rem;
  }
}
@media (max-width: 1000px) {
  .steps__item {
    max-width: none;
  }
  .procedure__slides-buttons {
    display: flex;
    visibility: visible;
    gap: 0;
  }
  .clients__category {
    /* max-width: none; */
  }
  .clients__wrapper {
    flex-direction: column;
  }
  .cta__bg {
    display: none;
    visibility: hidden;
  }
  .cta__content {
    max-width: none;
  }
}
@media (max-width: 968px) {
  .header__content-title {
    font-size: 4rem;
  }
  .mark__list {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
  }
  .mark__item {
  }
  .mark__text {
    max-width: none;
  }
  .blog__slide {
    height: 400px;
  }
  .footer__columns-2 {
    columns: 1 22.5rem;
  }
  .footer__phone {
    font-size: 1.75rem;
  }
}
@media (max-width: 768px) {
  .navbar__phone {
    display: none;
  }
  .production__card {
    min-height: 40rem;
  }
  .blog__slide {
    min-width: 21.625rem;
    height: 30rem !important;
  }
  .footer__top {
    align-items: flex-start;
    flex-direction: column;
  }
  .footer__logo-link {
    margin-bottom: 30px;
  }
  .footer__phone {
    margin-bottom: 21px;
  }
  .footer__address {
    margin-bottom: 12px;
  }
  .footer__email {
    margin-bottom: 21px;
  }
}
@media (max-width: 720px) {
  .header__content-title {
    font-size: 4rem;
  }
  .footer__mid {
    justify-content: space-between;
  }
  .footer__menu:last-child {
    margin-left: 0;
  }
  .footer__columns-2 {
    columns: 1 auto;
  }
  .footer__bottom-left {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 580px) {
  .container {
    padding: 0 1.3rem;
  }
  .procedure {
    padding: 9.375rem 0.9375rem;
  }
  .header__content-title {
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 120%;
    max-width: 300px;
  }
  .header__content-subtitle {
    font-size: 14px;
  }
  .header__content-button {
    width: 100%;
    padding: 20px 88px;
  }
  .header__content {
    padding: 50px 0rem 6.25rem 0rem;
  }
  .navbar__logo {
    height: content;
    padding: 15px 48px 23px 48px !important;
  }
  .navbar_light .navbar__logo {
    padding: 5px 48px 5px 48px !important;
  }
  .navbar__logo-svg {
    width: 120px !important;
    height: 37.71px !important;
  }
  .navbar__burger-title {
    display: none;
  }
  .navbar__button {
    padding: 1.8rem 2.3rem;
    height: 100% !important;
  }
  .navbar_light .navbar__button {
    padding: 1.3rem 2.3rem;
  }
  .navbar__button-text {
    display: none;
  }
  .navbar__button-icon {
    display: flex;
    color: white;
  }
  .steps {
    display: flex;
    justify-content: start;
    gap: 0;
    padding: 0;
  }
  .steps__num::after {
    max-width: 230px;
  }
  .procedure__list {
  }
  .steps__item {
    /* max-width: 300px !important;
    width: 300px !important; */
  }
  .steps__text {
    font-size: 14px;
    max-width: 300px;
  }
  .production__card {
    flex-basis: 100%;
    min-height: 40rem;
  }
  .clients__logo-list {
    grid-template-columns: 1fr 1fr;
  }
  .cta__inputs {
    flex-direction: column;
    width: 100%;
  }
  .cta__input-group {
    width: 100%;
  }
  .cta__button-group {
    flex-direction: column;
  }
  .cta__button {
    width: 100%;
  }
  .modal__container {
    margin: 10px;
  }
  .modal__form {
    padding: 2.5rem 2.5rem;
  }
}
@media (max-width: 480px) {
  .mark__item {
    grid-template-areas:
      "svg title title title"
      "text text text text";
  }
  .mark__svg {
    max-width: 100px;
    max-height: 100px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .clients__category-list {
    columns: 1;
  }
  .clients__category-item-text {
    font-size: 14px;
  }
  .blog__slide {
    min-width: 21.625rem;
    height: 196px !important;
    min-height: auto;
  }
  .blog__slide-text {
    display: none;
  }
  .footer__mid {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .footer__bottom {
    flex-direction: column;
  }
}
@media (max-width: 376px) {
}
